
img {
  width: 100%;
}

ion-list {
  width: 100%;
  height: 100vh;
  display: flex !important;
  align-items: center !important;
  justify-content:  center !important;
  background-color: #eee;
  padding: 0 1.5rem;
  flex-direction: column;
  overflow: scroll;
}

.blog-post {
  // margin-top: 40px;
  // margin-bottom: 40px;
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.blog-post__img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}

.blog-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.blog-post__img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background: linear-gradient(to right, rgba(79, 172, 254, .8),rgba(0, 242, 254, .8));
  box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
  border-radius: 8rem;
}

.blog-post__date span {
  display: block;
  color: rgba(0,0,0,.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;
}

.blog-post__title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post__text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0,0,0, .7);
}

.blog-post__cta{
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: .8rem;
  text-decoration: none;
}

.blog-post__cta:hover {
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

@media screen and (max-width: 1068px){
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px){
  .blog-post {
    max-width: 70rem;
  }

}


@media screen and (max-width: 768px){
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem;
    transform: translate(0, -8rem);
  }
}