  <ion-list>
    <div class="blog-post">
      <div class="blog-post__img">
        <img src="assets/img/img.png" alt="">
      </div>
      <div class="blog-post__info">
        <div class="blog-post__date">
          <span>sunday</span>
          <span>october 27 2019</span>
        </div>
        <h1 class="blog-post__title">My store name</h1>
        <p class="blog-post__text">my store description</p>
        <a href="#" class="blog-post__cta">my store contact</a>
      </div>
    </div>

    <div class="blog-post">
      <div class="blog-post__img">
        <img src="assets/img/img.png" alt="">
      </div>
      <div class="blog-post__info">
        <div class="blog-post__date">
          <span>sunday</span>
          <span>october 27 2019</span>
        </div>
        <h1 class="blog-post__title">My store name</h1>
        <p class="blog-post__text">my store description</p>
        <a href="#" class="blog-post__cta">my store contact</a>
      </div>
    </div>

    <div class="blog-post">
      <div class="blog-post__img">
        <img src="assets/img/img.png" alt="">
      </div>
      <div class="blog-post__info">
        <div class="blog-post__date">
          <span>sunday</span>
          <span>october 27 2019</span>
        </div>
        <h1 class="blog-post__title">My store name</h1>
        <p class="blog-post__text">my store description</p>
        <a href="#" class="blog-post__cta">my store contact</a>
      </div>
    </div>

    <div class="blog-post">
      <div class="blog-post__img">
        <img src="assets/img/img.png" alt="">
      </div>
      <div class="blog-post__info">
        <div class="blog-post__date">
          <span>sunday</span>
          <span>october 27 2019</span>
        </div>
        <h1 class="blog-post__title">My store name</h1>
        <p class="blog-post__text">my store description</p>
        <a href="#" class="blog-post__cta">my store contact</a>
      </div>
    </div>
</ion-list>



